html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #FFF9E8;
}

.navbar {
    background-color: rgba(255, 234, 160, 0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item {
    color: grey;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
    transition: .2s;
}

.navbar-item:hover {
    background-color: #A49118;
    color: #FFEAA0
} 

.activeLink {
    background-color: #A49118;
    color: #FFEAA0
}

h1 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 10px;
    font-weight: 900;
}

h2 {
    color: #a49118;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
}

h3 {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
}

.info {
    margin: 0 auto;
    max-width: 900px;
    font-weight: 300;
    padding-top: 5px;
}

.container {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 50px;
}

#title {
    margin-top: 120px;
}

.portrait {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin: 10px auto;
    max-width: 200px;
    height: auto;
}

.blurb {
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}

#softEng {
    margin: 0;
}

.aboutMe {
    line-height: 150%;
    max-width: 750px;
    margin: auto;
}

.contactInfo {
    margin: 20px auto;
    max-width: 750px;
}

.contact {
    width: auto;
    border-radius: 10px;
    background-color: #F2FEDC;
    color: black;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

.grow { 
    transition: all .2s ease-in-out; 
    z-index: 1;
}
    
.grow:hover { 
    transform: scale(1.03); 
    z-index: 1;
}

.jobcard {
    border-radius: 10px;
    background-color: #F2FEDC;
    color: black;
    display: block;
    margin: 10px auto 10px auto;
    max-width: 480px;
    padding: 10px;
    position: static;
    text-decoration: none;
}

.date {
    font-size: 15px;
}

.projectblurb {
    margin: 10px 0 10px 0;
}

.projectImg {
    max-width: 300px;
    height: auto;
    margin: auto;
}

.skillsBox {
    max-width: 480px;
    margin: auto;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-evenly;
}

.skill {
    width: auto;
    border-radius: 10px;
    background-color: #F2FEDC;
    color: black;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}

hr {
    max-width: 480px;
    color: #a49118;
    margin: auto;
}
/* 
.skillName {
    font-size: 30px;
} */

.projectlinks {
    display: flex;
    margin: 10px auto;
    justify-content: space-around;
    max-width: 200px;
    font-weight: 300;
    padding-top: 5px;
    font-size: 30px;
}

.dates {
    font-size: 30px;
    text-align: center;
}

.figma1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2px;
}

.figma2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2px;
}

.twoImages {
    max-width: 400px;
    height: auto;
}

.oneImage {
    max-width: 800px;
    height: auto;
}

.specdrumsPoster {
    max-width: 400px;
    height: auto;
    /* margin-bottom: 30px; */
}

.images {
    display: block;
    margin: auto;
}

.link {
    border: 1px solid #A49118;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #A49118;
}

.link:hover {
    color: #FFF9E8;
    background-color: #A49118;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resumeImg {
    height: 700px;
    width: 500px;
    display: block;
    margin: 10px auto;
}