body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #FFF9E8;
}

h1 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 10px;
    font-weight: 900;
}

#about {
    margin-top: 120px;
}

.blurb {
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.aboutMe {
    line-height: 150%;
}

.container {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 50px;
}

h2 {
    color: #a49118;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
}

#softEng {
    margin: 0;
}

.info {
    margin: 0 auto;
    max-width: 900px;
    font-weight: 300;
}

.job {
    border-top: 2px solid black;
    margin-top: 20px;
}

.position {
    font-size: 30px;
}

.date {
    font-size: 15px;
}

.name {
    font-size: 30px;
}

.project {
    border-top: 2px solid black;
    margin-top: 30px;
}

.projectDescription {
    line-height: 150%;
}

.figma1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2px;
}

.figma2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2px;
}

.twoImages {
    max-width: 400px;
    height: auto;
}

.oneImage {
    max-width: 800px;
    height: auto;
}

.specdrumsPoster {
    max-width: 400px;
    height: auto;
    /* margin-bottom: 30px; */
}

.portrait {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin: 10px auto;
    max-width: 200px;
    height: auto;
}

.images {
    display: block;
    margin: auto;
}

.link {
    border: 1px solid #A49118;
    border-radius: 2px;
    padding: 2px;
    text-decoration: none;
    color: #A49118;
}
.link:hover {
    color: #FFF9E8;
    background-color: #A49118;
}

ul {
    list-style-type: circle;
}

.navbar-item {
    color: grey;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}

.navbar-item:hover {
    background-color: #A49118;
    color: #FFEAA0
    }

.navbar {
    background-color: rgba(255, 234, 160, 0.9);
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-item {
    font-size: 20px;
}

.resumeImg {
    height: 700px;
    width: 500px;
    display: block;
    margin: 10px auto;
}